<div class="image-container">
  <div class="photo-strip-container">
    <img class="photo-strip-image" src="{{interview?.photo_strip_image_1}}" alt="A portrait photo of the interviewee">
    <img class="photo-strip-image" src="{{interview?.photo_strip_image_2}}" alt="A portrait photo of the interviewee">
    <img class="photo-strip-image" src="{{interview?.photo_strip_image_3}}" alt="A portrait photo of the interviewee">
    <img class="photo-strip-image" src="{{interview?.photo_strip_image_4}}" alt="A portrait photo of the interviewee">
  </div>
  <div class="image-description">
    <p>{{interview?.big_image_description}}</p>
  </div>
</div>