<div class="follow-button">
  <a href="https://www.facebook.com/650stories" target="_blank">
    <div class="twitter">
      <img src="/assets/icons/Twitter.svg" alt="">
      <!-- <div class="icon icon-Facebook icon-Facebook-dims"></div> -->
    </div>
  </a>
  <a href="https://www.instagram.com/650stories/" target="_blank">
    <div class="fb">
      <img src="/assets/icons/Facebook.svg" alt="instagram icon and link">
      <!-- <div class="icon icon-Instagram icon-Instagram-dims"></div> -->
    </div>
  </a>
  <a href="https://www.facebook.com/650stories" target="_blank">
    <div class="pinterest">
      <img src="/assets/icons/Pinterest.svg" alt="">
      <!-- <div class="icon icon-Facebook icon-Facebook-dims"></div> -->
    </div>
  </a>
  <a href="https://www.instagram.com/650stories/" target="_blank">
    <div class="email">
      <img src="/assets/icons/Email.svg" alt="instagram icon and link">
      <!-- <div class="icon icon-Instagram icon-Instagram-dims"></div> -->
    </div>
  </a>
</div>
  