<div class="follow-button">
  <a shareButton="twitter" [sbDescription]="shareText">
    <div class="twitter">
      <img src="/assets/icons/Twitter.svg" alt="">
      <!-- <div class="icon icon-Facebook icon-Facebook-dims"></div> -->
    </div>
  </a>
  <a shareButton="facebook" [sbDescription]="shareText">
    <div class="fb">
      <img src="/assets/icons/Facebook.svg" alt="instagram icon and link">
      <!-- <div class="icon icon-Instagram icon-Instagram-dims"></div> -->
    </div>
  </a>
  <a shareButton="pinterest" [sbDescription]="shareText" [sbUrl]="'https://650stories.com'" [sbImage]="'https://s3-us-west-1.amazonaws.com/650stories/Logo.svg'">
    <div class="pinterest">
      <img src="/assets/icons/Pinterest.svg" alt="">
      <!-- <div class="icon icon-Facebook icon-Facebook-dims"></div> -->
    </div>
  </a>
  <a shareButton="email" [sbDescription]="shareText">
    <div class="email">
      <img src="/assets/icons/Email.svg" alt="instagram icon and link">
      <!-- <div class="icon icon-Instagram icon-Instagram-dims"></div> -->
    </div>
  </a>
</div>
  