.follow-button {
  display: flex;
  flex-direction: column;
  border: solid 4px #141410;
  width: 40px;
}
.fb, .twitter, .pinterest, .email {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fb:hover, .twitter:hover, .pinterest:hover, .email:hover {
  opacity: 0.8;
  background-color: #141410;
  transition: 0.4s;
  color: #fff;
}
.twitter, .fb, .pinterest {
  width: 40px;
  height: 40px;
  border-bottom: solid 4px #141410;
}
.email {
  width: 40px;
  height: 40px;
}

