<div *ngIf="interview" class="background-container">
  <div [style.background]="interview.color" class="header-container">
    <header-logo></header-logo>
    <div class="interview-title-container">
      <div class="title-container">
        <h1>{{interview.interviewee_first_name}}</h1>
        <h1>{{interview.interviewee_last_name}}</h1>
        <img class="title-image image-mobile" src="{{interview.title_image.url}}" alt="A portrait photo of the interviewee">
        <div class="interview-details">
          <h6>{{interview.date | date:'MMMM d, y' | uppercase}}</h6>
          <h6>Interviewed by {{interview.author}}</h6>
          <h6>Photographs by {{interview.photographer}}</h6>
          <h6>{{readingMins}} Minute read</h6>
        </div>
        <div class="share-container">
          <h6>Share</h6>
          <share-buttons></share-buttons>
        </div>
      </div>
      <div class="image-container image-desktop">
        <img class="title-image" src="{{interview.title_image.url}}" alt="A portrait photo of the interviewee">
      </div>
    </div>
  </div>
</div>
