<div *ngIf="showNav" class="navbar-container">
  <story-nav [selectedTab]="'about'"></story-nav>
</div>
<div class="about-container animated fadeIn">
  <div class="header-container">
    <story-header [title]="'650 Stories'"></story-header>
  </div>
 
  <div class="description-container">
    <h6 class="about-header">About the team</h6>  
    <h4 class="about-h4">650 Stories is an interview series featuring inspiring people from in and around the 650 area code. Also known as The Peninsula, this region just south of San Francisco is home to painters and particle physicists, Pez collectors and orchestra conductors.</h4>
  </div>
  <div class="team-container">
    <h6 class="about-header">The team</h6>
    <div class="team">
      <div class="member-container" *ngFor="let teamMember of teamMembers">
        <div class="member-image-container" [ngClass]="{'logo-image': teamMember.name === 'Raziel Ungar Team'}">
          <img *ngIf="teamMember.imageUrl !== ''" class="member-image" 
            src="{{teamMember.imageUrl}}" alt="A portrait of {{teamMember.name}}"
            [ngClass]="{'ian-image': teamMember.name === 'Ian Tuttle'}">
          <div *ngIf="teamMember.imageUrl === ''" class="member-image"></div>
          <img class="pacific-logo" *ngIf="teamMember.name === 'Raziel Ungar Team'" src="https://s3-us-west-1.amazonaws.com/650stories/about_portraits/pacific_union_logo.png" alt="Pacific Union International logo">
        </div>
        <h4 class="about-h4">{{teamMember.name}}</h4>
        <p class="member-title">{{teamMember.position}}</p>
        <p class="description-text">{{teamMember.description}}</p>
        <div *ngIf="teamMember.linkName" class="link-text">
          <a [href]="teamMember.link" target="_blank">{{teamMember.linkName}}</a>
          <div class="link-bg"></div>
        </div>
      </div>
      <div class="about-subfooter">
          <h6 class="about-header interviews-header">Interviews</h6>
          <h4 class="about-h4">If you have a suggestion for an interview subject, please email us at:</h4>
          <div class="email">
            <a class="about-h4" href="mailto:interviews@650stories.com?Subject=Hello" target="_top">interviews@650stories.com</a>
            <div class="link-bg"></div>
          </div>
      </div>
      <div class="footer-container">
        <story-footer [fullwidth]="true"></story-footer>
      </div>

    </div>
  </div>
</div> 