<div class="image-container">
  <div class="image-pair-container">
    <div class="pair-1-container">
      <img class="image-pair1" src="{{interview?.pair_image_1}}" alt="A portrait photo of the interviewee">
    </div>
    <div class="pair-2-container">
      <div class="pair2-mobile">
        <img class="image-pair2-mobile" src="{{interview?.pair_image_2}}" alt="A portrait photo of the interviewee">
      </div>
      <img class="image-pair2" src="{{interview?.pair_image_2}}" alt="A portrait photo of the interviewee">
    </div>
  </div>
  <div class="image-description">
    <p>{{interview?.pair_image_description}}</p>
  </div>
</div>