.follow-button {
  display: flex;
  border: solid 4px #141410;
  width: 172px;
}
.fb, .twitter, .pinterest, .email {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fb:hover, .twitter:hover, .pinterest:hover, .email:hover {
  opacity: 0.8;
  background-color: #141410;
  transition: 0.4s;
  fill: #fff;
}
.twitter, .fb, .pinterest {
  width: 40px;
  height: 40px;
  border-right: solid 4px #141410;
}
.email {
  width: 40px;
  height: 40px;
}
svg:hover #Twitter, 
svg:hover #Facebook,
svg:hover #Pinterest,
svg:hover #Email {
  fill: #fff !important;
}