.interview-box {
  display: flex;
  justify-content: space-between;
  width: 70.5vw;
  height: 480px;
  margin: 0 5rem 5rem 5rem;
  background: #1cb1d7;
}
.interview-box-reversed {
  flex-direction: row-reverse !important;
}
.image-container {
  height: 456px;
  width: 456px;
  display: flex;
  align-items: flex-end;
  margin-left: 3rem;
  margin-right: 6rem;
}
.interview-box-reversed > .img-container {
  margin-left: 6rem;
  margin-right: 3rem;
}
.title-image {
  width: 456px;
  height: 456px;
  margin-bottom: -48px;
}
.article-container {
  height: 413px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 6rem;
  margin-right: 3rem;
  padding-top: 43px;
}
.interview-box-reversed > .article-container {
  margin-left: 3rem;
  margin-right: 6rem;
}
.interview-button {
  margin-bottom: -48px;
}
.button-icon {
  height: 13px;
  width: 17px;
}
.interview-title {
  font-family: DomaineDisplay-ExtraboldItalic;;
  font-size: 72px;
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
  
.interview-description {
  margin-top: 2rem;
  font-family: Georgia;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.interview-date {
  opacity: 0.4;
  font-family: Metric-Semibold;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 4px;
  text-align: left;
  color: #141410;
  margin-bottom: 2rem;
}
@media (min-width: 900px) {
  .image-mobile {
    display: none !important;
  }
}
@media (max-width: 899px) {
  .image-desktop {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .interview-box {
    width: 86vw;
    height: 704px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5rem 0;
  }
  .interview-box-reversed {
    flex-direction: row !important;
  }
  .interview-box-reversed > .img-container, .interview-box-reversed > .article-container {
    margin-right: 0;
    margin-left: 0;
  }
  .interview-box-reversed > .article-container > .interview-button {
    margin-bottom: -8px;
  }
  .interview-box-reversed > .article-container > .interview-content > .mobile-image-container {
    width: calc(100% + 16px);
  }
  .interview-box-reversed > .article-container > .interview-content > .interview-button {
    margin-right: 0;
  }
  .article-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;

  }
  .interview-title {
    font-size: 3rem;
  }
  .interview-date {
    font-size: 8px;
    margin-bottom: 1rem;
  }
  .mobile-image-container {
    margin-top: 1rem;
    height: 336px;
    width: 100%;
 
  }
  .title-image {
    width: 100%;
    height: 336px;
    margin-bottom: -48px;
  }
  .interview-description {
    margin-top: 1rem;
    margin-right: 2rem;
  }
  .interview-button {
    margin-bottom: -24px;
  }


}