<div class="logo-container">
  <!-- <span class="icon-Logo icon-Logo-dims"></span> -->
  <svg width="150px" height="56px" viewBox="0 0 124 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>Logo</title>
      <defs></defs>
      <g id="Scrolled-Header" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-236.000000, -8.000000)">
          <g id="Header" transform="translate(0.000000, 8.000000)">
              <g id="Logo" transform="translate(236.000000, 0.000000)">
                  <g>
                      <rect id="Overlay" fill="#141410" opacity="0.1" x="8" y="8" width="48" height="48"></rect>
                      <rect id="Frame" stroke="#141410" stroke-width="4" x="2" y="2" width="44" height="44"></rect>
                      <text id="Stories" font-family="Metric-Semibold, Metric Test" font-size="16" font-weight="600" line-spacing="10" letter-spacing="2" fill="#141410">
                          <tspan x="56" y="29">STORIES</tspan>
                      </text>
                      <text id="650" font-family="Metric-Semibold, Metric Test" font-size="16" font-weight="600" line-spacing="10" letter-spacing="2" fill="#141410">
                          <tspan x="10" y="29">650</tspan>
                      </text>
                  </g>
              </g>
          </g>
      </g>
  </svg>
</div>