.directory-container {
  background: linear-gradient(to right, #fafaf9 0%,#fafaf9 24.5%,#fafaf9 24.5%,white 24.5%,white 100%);
}
.header-container {
  width: 100%;
}
.card-container {
  width: 100%;
  margin-top: -64px;
  display: flex;
  justify-content: center;
}
.filters {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -24px;
}
.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: solid 4px #141410;
  margin-right: 1.2rem;
  cursor: pointer;
}
.directory-subfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 36px;
  height: 112px;
  background-color: #fff;
}
.directory-subfooter > h3 {
  font-family: Georgia;
  font-size: 24px;
  line-height: 1.33;
  color: #141410;
}
.input-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}
input {
  width: 100%;
  font-family: Georgia;
  height: 40px;
  border: solid 4px #141410;
  padding-left: 12px;
  border-radius: 0;
}
input:focus, select:focus {
	outline: 0 !important;
}
input::placeholder {
  opacity: 0.4;
  font-family: Georgia;
  font-size: 16px;
  line-height: 3;
  color: #141410;
}
.input-button {
  width: 50px;
  height: 50px;
  margin-left: -1px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #141410;
  color: #fff;
  cursor: pointer;
}
.input-button > img {
  margin-right: 4px;
}
.footer-container {
  margin: 5rem 16px 12px 16px;
}
.filter-overlay {
  position: fixed; 
  width: 100%;
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0.96;
  background-color: #141410;
}
.overlay-container {
  display: flex;
  flex-direction: column;
  margin: 56px 20px 43px 20px;
  text-transform: uppercase;
}
h5 {
  opacity: 0.4;
  font-family: Metric-Semibold;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 4px;
  color: #ffffff;
  margin-bottom: 8px;
}
.overlay-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: fit-content;
  border: solid 4px #ffffff;
  color: #fff;
  padding: 0 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-family: Metric-Semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2px;
  z-index: 3;
  text-transform: uppercase;
  border-radius: 0;
}
.overlay-button:hover {
  background-color: #141410;
  transition: 0.4s;
  color: #fff;
}
.overlay-button-active {
  background: #fff !important;
  color: #2b2b27 !important;
}
.sort-container {
  margin-top: 2rem;
}
.sort-container > select {
  height: 48px;
  width: 264px;
  margin-right: 0;
  background: transparent;
  padding-right: 4px;
  background-image: url("../../assets/icons/Select.svg");
  background-repeat: no-repeat; 
  background-position: calc(100% - 20px) center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sort-container > select:hover {
  background-color: #141410;
  transition: 0.4s;
  color: #fff;
}
.white-icon > select {
  background-image: url("../../assets/icons/Select-fff.svg") !important;
}
.filter {
  position: absolute;
  bottom: 43px;
  align-self: center;
}

@media (max-width: 800px) {
  .desktop-filters {
    display: none;
  }
  .input-button > h6 {
    display: none;
  }
  .desktop-text, .desktop-nav {
    display: none;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .desktop-filters {
    width: 74vw !important;
    margin-bottom: -5rem;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  .desktop-filters {
    width: 86vw !important;
    margin-bottom: -5rem;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  .desktop-filters {
    width: 90vw !important;
    margin-bottom: -5rem;
  }
  .sort-container > select {
    width: 180px;
  }
}

@media (min-width: 800px) {
  .directory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #fafaf9 0%,#fafaf9 20.75%,#fafaf9 20.75%,white 20.75%,white 100%);
  }
  .card-container {
    margin-top: 60px;
  }
  .filters {
    display: none;
  }
  .desktop-filters {
    display: flex;
    justify-content: space-between;
    width: 70.5vw;
    margin-top: -24px;
  }
  .desktop-filter-buttons {
    display: flex;
  }
  .overlay-button {
    border: solid 4px #141410;
    color: #141410;
    margin-right: 1rem;
  }
  .overlay-button-active {
    background: #141410 !important;
    color: #fff !important;
  }
  .sort-container {
    margin: -23px 0 0 0;
  }
  .directory-subfooter {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 70.5vw;
  }
  .footer-container {
    width: 70.5vw;
  }
  .input-container {
    width: 525px;
  }
  .input-button {
    width: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-button > h6 {
    width: 92px;
    height: 16px;
    font-family: Metric-Semibold;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 6px;
  }

}

@media (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
}