<div class="footer-container" [ngClass]="{ 'fullwidth': fullwidth }">
  <div class="footer-content">
    <p class="footer-text">Bibendum Sollicitudin Ornare Lorem Elit</p>
    <div class="follow">
      <p class="follow-text">FOLLOW</p>
      <div class="follow-button">
        <a href="https://www.facebook.com/650stories" target="_blank">
          <div class="fb">
            <img src="/assets/icons/Facebook.svg" alt="">
            <!-- <div class="icon icon-Facebook icon-Facebook-dims"></div> -->
          </div>
        </a>
        <a href="https://www.instagram.com/650stories/" target="_blank">
          <div class="insta">
            <img src="/assets/icons/Instagram.svg" alt="instagram icon and link">
            <!-- <div class="icon icon-Instagram icon-Instagram-dims"></div> -->
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
