.next-interview-footer-mobile {
  height: 140px;
  padding: 1rem 1rem 0 1rem;
  cursor: pointer;
}
.next-interview-footer-mobile > h6 {
  font-family: Metric-Semibold;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 2.8px;
  color: #141410;
  opacity: 0.4;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
h1 {
  font-family: DomaineDisplay-ExtraboldItalic;
  font-size: 48px;
  font-weight: 800;
  font-style: italic;
  line-height: 1;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
}

@media (min-width: 700px) {
  .footer-background {
    background: linear-gradient(to right, #141410 0%,#141410 19.75%,#141410 19.75%,white 19.75%,white 100%);
    height: 456px;
    display: flex;
    align-content: flex-end;
    margin-top: 168px;
    cursor: pointer;
  }
  .next-interview-footer-desktop {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }
  .footer-title {
    align-self: center;
    z-index: 2;
    margin-right: -218px;
  }
  .footer-title > h6 {
    font-family: Metric-Semibold;
    opacity: 0.4;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 4px;
    text-align: left;
    color: #141410;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .footer-title > h1 {
    font-family: DomaineDisplay-ExtraboldItalic;
    font-size: 160px;
    font-weight: 800;
    font-style: italic;
    font-stretch: normal;
    line-height: 0.95;
    letter-spacing: -1px;
    text-align: left;
    color: #ffffff;
  }
  .title-image-container {
    width: 744px;
    height: 528px;
    overflow: hidden;
  }
  .title-image {
    width: 744px;
    height: auto;
  }

  .next-interview-footer-mobile {
    display: none
  }
}

@media (min-width: 701px) and (max-width: 1400px) {
  .footer-background {
    height: 288px;
  }
  .title-image-container {
    width: 450px;
    height: 319px;
    overflow: hidden;
  }
  .title-image {
    width: 450px;
    height: auto;
  }
  .footer-title {
    margin-right: -128px;
  }
  .footer-title > h1 {
    font-size: 100px;
  }
  .next-interview-footer-desktop {
    padding: 0 8px;
  }
}

@media (max-width: 701px) {
  .next-interview-footer-desktop {
    display: none;
  }
}
