.interview-container {
  width: 100vw;
  height: 80vh;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interview-container > h1 {
  font-size: 3rem;
  font-family: DomaineDisplay-ExtraboldItalic;
}
