h4 {
  font-family: Georgia;
  font-size: 24px;
  line-height: 1.67;
  text-align: left;
  color: #141410;
}
.interview-container {
  background: linear-gradient(to right, #fafaf9 0%,#fafaf9 24.5%,#fafaf9 24.5%,white 24.5%,white 100%);
}
.interview-content-container {
  margin: 0 1.25rem;
}
.description-container {
  margin: 3rem 0;
}
.line {
  width: 72px;
  height: 8px;
}
.question-container {
  margin-top: 1.5rem;
}
.photo-strip-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-right: -1.25rem;
}
.photo-strip-container::-webkit-scrollbar {
  display: none;
}
.photo-strip-image {
  width: 320px;
  height: 320px;
  transform: rotate(-360deg);
  margin-right: 1rem;
}
.big-image-container {
  width: 336px;
  height: 224px;
  overflow: hidden;
}
.big-image {
  width: 336px;
  height: auto;
  zoom: 115%;
  margin: -40px 0 0 -50px;
  // object-fit: cover;
}
.image-pair-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-right: -1.25rem;
}
.image-pair-container::-webkit-scrollbar {
  display: none;
}
.pair-1-container {
  width: 320px;
  height: 320px;
  // overflow: hidden;
  margin-right: 1rem;
}
.pair-2-container {
  width: 320px;
  height: 320px;
}
.image-pair1 {
  width: 320px;
  height: auto;
  zoom: 100%;
  margin-top: -80px;
}
.pair2-mobile {
  width: 320px;
  height: 320px;
  overflow: hidden;
}
.image-pair2-mobile {
  width: 320px;
  height: auto;
  zoom: 184%;
  margin: -63px 0px 0px -118px;
}
.image-description {
  background: #fff;
}
.image-description > p {
  padding: 1rem;
  font-size: 12px;
  line-height: 16px;
  font-family: Georgia;
  font-style: italic;
  color: #888884;
}
.next-interview-footer-mobile {
  height: 140px;
  padding: 1rem 1rem 0 1rem;
}
.next-interview-footer-mobile > h6 {
  font-family: Metric-Semibold;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 2.8px;
  color: #141410;
  opacity: 0.4;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
h1 {
  font-family: DomaineDisplay-ExtraboldItalic;
  font-size: 48px;
  font-weight: 800;
  font-style: italic;
  line-height: 1;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
}

@media (min-width: 700px) {
  .interview-container {
    background: linear-gradient(to right, #fafaf9 0%,#fafaf9 19.75%,#fafaf9 19.75%,white 19.75%,white 100%);
  }
  .interview-content-container {
    margin: 144px 26.75% 80px 14.75rem;
  }
  .question-container {
    margin-left: 192px;
    margin-top: -12px;
  }
  .image-container {
    margin-right: -26.5vw;
  }
  .photo-strip-container {
    margin-left: -192px;
    margin-right: 0;
  }
  .photo-strip-image {
    width: 360px;
    height: 360px;
    margin-right: 1.5rem;
  }
  .big-image-container {
    width: 1128px;
    height: 744px;
    overflow: hidden;
    margin-left: -216px;
  }
  .big-image {
    width: 1128px;
    height: auto;
    zoom: 116%;
    margin: -150px 0 0 -178px;
    // object-fit: cover;
  }
  .image-pair-container {
    margin-left: -192px;
    margin-right: 0;
  }
  .pair-1-container {
    width: 552px;
    height: 552px;
    overflow: hidden;
    margin-right: 1.5rem;
  }
  .pair-2-container {
    width: 552px;
    height: 552px;
    overflow: hidden;
  }
  .image-pair1 {
    width: 552px;
    height: auto;
    zoom: 100%;
    margin-top: -135px;
  }
  .image-pair2 {
    width: 552px;
    height: auto;
    zoom: 184%;
    margin: -106px 0 0 -205px;

  }
  .footer-background {
    background: linear-gradient(to right, #141410 0%,#141410 19.75%,#141410 19.75%,white 19.75%,white 100%);
    height: 456px;
    display: flex;
    align-content: flex-end;
    margin-top: 168px;
    cursor: pointer;
  }
  .next-interview-footer-desktop {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 192px;
  }
  .footer-title {
    align-self: center;
    z-index: 2;
    margin-right: -100px;
  }
  .footer-title > h6 {
    font-family: Metric-Semibold;
    opacity: 0.4;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 4px;
    text-align: left;
    color: #141410;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .footer-title > h1 {
    font-family: DomaineDisplay-ExtraboldItalic;
    font-size: 160px;
    font-weight: 800;
    font-style: italic;
    font-stretch: normal;
    line-height: 0.95;
    letter-spacing: -1px;
    text-align: left;
    color: #ffffff;
  }
  .title-image {
    width: 744px;
    height: 528px;
  }
  .pair2-mobile {
    display: none;
  }
  .next-interview-footer-mobile {
    display: none
  }
}

@media (max-width: 701px) {
  .image-pair2 {
    display: none;
  }
  .next-interview-footer-desktop {
    display: none;
  }
}


