<div class="desktop-nav-container">
  <div class="links">
    <div routerLink="/" class="home">
      <img src="/assets/icons/Logo.svg" alt="650 Stories logo">
    </div>
    <div class="right-links">
      <h6 routerLink="/directory">Interview Directory</h6>
      <h6 routerLink="/about">About The Project</h6>
    </div>
  </div>
  <!-- <div [ngClass]="{'selected-about': selectedTab === 'about', 'selected-home': selectedTab === 'home', 'selected-directory': selectedTab === 'directory'}"></div> -->
  <div class="line"></div>
</div>

<div class="mobile-nav-container">
  <div routerLink="/" class="home">
    <svg width="106.29px" height="48px" viewBox="0 0 124 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
        <title>Logo</title>
        <defs></defs>
        <g id="Scrolled-Header" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-236.000000, -8.000000)">
            <g id="Header" transform="translate(0.000000, 8.000000)">
                <g id="Logo" transform="translate(236.000000, 0.000000)">
                    <g>
                        <rect id="Overlay" fill="#141410" opacity="0.1" x="8" y="8" width="48" height="48"></rect>
                        <rect id="Frame" stroke="#141410" stroke-width="4" x="2" y="2" width="44" height="44"></rect>
                        <text id="Stories" font-family="MetricTest-Semibold, Metric Test" font-size="16" font-weight="500" line-spacing="10" letter-spacing="2" fill="#141410">
                            <tspan x="56" y="29">Stories</tspan>
                        </text>
                        <text id="650" font-family="MetricTest-Semibold, Metric Test" font-size="16" font-weight="500" line-spacing="10" letter-spacing="2" fill="#141410">
                            <tspan x="10" y="29">650</tspan>
                        </text>
                    </g>
                </g>
            </g>
        </g>
    </svg>
  </div>
  <div class="menu-button" (click)="toggleNav()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14">
      <g class="menu-icon" fill="#141410" fill-rule="evenodd">
        <path d="M0 6h16v2H0zM0 12h10v2H0zM0 0h16v2H0z"/>
      </g>
    </svg>
  </div>
</div>

<div *ngIf="showMobileMenu" class="filter-overlay">
  <div class="overlay-container">
    <h5>Menu</h5>
    <h3  routerLink="/directory">Interview Directory</h3>
    <h3  routerLink="/about">About the Project</h3>
    <div class="overlay-button filter" (click)="toggleNav()">
      close
    </div>
  </div>
</div>